:host {
    width: 50%;
    height: calc(50vh - 80px);
    position: relative;
}

.dmg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.player1 {
        background: black;
        flex-direction: row-reverse;
        span {
            color: white;

        }
    }
    &.player2 {
        background: white;
        span {
            color: black;
        }
    }
    span {
        font-weight: bolder;
        font-size: 2rem;
    }
}